@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-clr-0;
}

.trans {
  @apply transition-all duration-200 ease-linear;
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav {
  @apply flex justify-between items-center mx-auto px-7 py-3;
}

.nav-btn {
  @apply text-xl px-3 py-1 text-clr-5 tracking-wider rounded trans;
}

.loading-spin {
  animation: dis-appear 2s ease-in-out infinite;
}

.spin-sector {
  border: 15px solid transparent;
  animation: rotate var(--duration) var(--timing) infinite;
  @apply absolute w-full h-full mix-blend-overlay rounded-[50%] pointer-events-none;
}

.spin-sector-1 {
  border-top-color: lightblue;
  --timing: ease-in-out;
  --duration: 0.75s;
}

.spin-sector-2 {
  border-left-color: purple;
  --timing: ease-in-out;
  --duration: 1.25s;
}

.spin-sector-3 {
  border-right-color: lightcoral;
  --timing: ease-in-out;
  --duration: 1.5s;
}

.home-h1 {
  @apply text-2xl flex flex-col w-full items-center select-none gap-1.5 font-semibold text-center text-clr-8;
}

.signup-link {
  animation: bounce 2s ease-in-out infinite;
  @apply w-fit flex items-center gap-3 py-3 px-5 font-semibold mt-10 tracking-wider text-xl bg-clr-1 text-clr-0 trans rounded-md;
}

.form-itself {
  @apply mx-auto w-[90vw] max-w-[550px] rounded-md mt-12 py-5 px-6;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-h1 {
  @apply text-clr-5 text-center font-semibold tracking-wider text-2xl;
}

.form-center {
  @apply flex flex-col gap-4
}

.form-group {
  @apply flex flex-col gap-2;
}

.form-group input {
  @apply w-full py-1.5 px-1 rounded-lg font-medium text-lg;
}

.form-group input:focus {
  @apply outline-none;
}

.form-group label {
  @apply text-clr-3 text-xl tracking-wide font-medium;
}

.pswd-container {
  @apply relative;
}

.eye {
  @apply absolute top-3 right-3 text-clr-0 text-xl;
}

.btn-container {
  @apply w-full mt-5;
}

.btn {
  @apply py-1.5 w-full rounded-lg text-clr-5 bg-clr-1 text-xl tracking-widest font-medium;
}

.btn:focus {
  @apply outline-none;
}

.btn:hover:not([disabled]) {
  @apply bg-clr-2 text-black trans;
}

.btn:disabled {
  @apply opacity-[50%] cursor-not-allowed;
}

.content-container {
  @apply flex flex-col gap-1 mb-3;
}

.content-counter {
  @apply text-clr-5 text-xs tracking-wide text-end;
}

.content {
  @apply w-full h-32 rounded-lg p-2 outline-none font-medium text-lg resize-none;
}

.drop-container {
  @apply relative flex flex-col gap-3 justify-center items-center text-center h-32 p-3 border-2 border-dashed border-[#555] text-[#444] cursor-pointer rounded-lg w-full;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.smallie {
  @apply rounded absolute top-10 right-3;
}

.drop-container:hover {
  @apply bg-[#eee] border-2 border-[#111]
}

.drop-container:hover .drop-title {
  @apply text-[#222]
}

.drop-title {
  @apply text-[#444] text-[xl] font-medium trans;
}

input[type=file] {
  @apply hidden;
}

input[type=file]::file-selector-button {
  @apply mr-3 border-none bg-clr-6 py-2 px-3 text-clr-3 cursor-pointer rounded-md;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  @apply bg-[#0d45a5]
}

.menu {
  @apply grid grid-cols-1 w-[95vw] max-w-[1200px] justify-start trans px-5 gap-12;
}

.tabs {
  @apply flex justify-between mt-8 px-2;
}

.tab {
  @apply rounded-md text-white bg-clr-1 px-3 py-2 trans font-medium tracking-wider;
}

.tab:hover {
  @apply bg-clr-2;
}

.tab.active {
  @apply bg-clr-6 font-semibold;
  animation: bounce 2s ease-in-out infinite;
}

.profile-msgs {
  @apply grid grid-cols-1 gap-8 mt-5;
}

.profile-msg {
  @apply relative rounded-lg text-black bg-clr-3 text-lg font-medium min-h-[5rem] flex flex-col justify-center h-fit;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgb(51, 51, 51) 0px 0px 0px 3px;
}

.period {
  @apply absolute top-0 right-2 text-sm font-bold;
}

.image {
  @apply w-full object-cover rounded-bl-md rounded-br-md max-h-[14rem];
}

.toggle-container {
  @apply flex justify-between items-center
}

.toggle-h2 {
  @apply text-lg font-medium tracking-wide
}

.switch {
  @apply relative inline-block w-[60px] h-[34px]
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-[#ccc] trans;
}

.slider:before {
  content: "";
  @apply absolute h-[26px] w-[26px] left-[4px] bottom-[4px] bg-white trans;
}

input:checked+.slider {
  @apply bg-clr-6
}

input:focus+.slider {
  box-shadow: 0 0 1px #084cdf;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  @apply rounded-[34px];
}

.slider.round:before {
  @apply rounded-[50%]
}

.dialog-list {
  @apply flex items-center justify-between w-full text-lg bg-clr-1 trans px-3 py-2 rounded-md tracking-wider text-clr-5;
}

.dialog-list:hover {
  @apply bg-clr-6;
}

@media screen and (min-width: 900px) {
  .menu {
    grid-template-columns: 200px 1fr;
  }

  .tabs {
    @apply flex-col gap-5 mt-20 h-36;
  }

  .tab {
    @apply w-full rounded-md px-3;
  }

  input[type=file] {
    @apply block;
  }

  .profile-msgs {
    @apply grid-cols-2;
  }
}

.texts {
  @apply flex flex-col gap-0.5 py-2 px-2
}

.ldio-cmcacy3ykfh div { box-sizing: border-box!important }
.ldio-cmcacy3ykfh > div {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 22.5px;
  left: 22.5px;
  border-radius: 50%;
  border: 7px solid #000;
  border-color: #ffffff transparent #ffffff transparent;
  animation: ldio-cmcacy3ykfh 0.78125s linear infinite;
}
.ldio-cmcacy3ykfh > div:nth-child(2) { border-color: transparent }
.ldio-cmcacy3ykfh > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-cmcacy3ykfh > div:nth-child(2) div:before, .ldio-cmcacy3ykfh > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: -7px;
  left: 17px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 48px 0 0 #ffffff;
}
.ldio-cmcacy3ykfh > div:nth-child(2) div:after { 
  left: -7px;
  top: 17px;
  box-shadow: 48px 0 0 0 #ffffff;
}
.loadingio-spinner-dual-ring-2pnjqprw2fr {
  width: 31px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
  background: #006fc9;
}
.ldio-cmcacy3ykfh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.31);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cmcacy3ykfh div { box-sizing: content-box; }

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.10);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dis-appear {

  0%,
  100% {
    color: rgba(201, 198, 198, 1);
  }

  25%,
  75% {
    color: rgba(201, 198, 198, 0.5);
  }

  50% {
    color: rgba(201, 198, 198, 0.1);
  }
}

@keyframes ldio-cmcacy3ykfh {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}