@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-clr-0;
}

.trans {
  @apply transition-all duration-200 ease-linear;
}

.nav {
  @apply flex justify-between items-center mx-auto px-7 py-3;
}

.nav-btn {
  @apply text-xl px-3 py-1 text-clr-5 tracking-wider rounded trans;
}

.loading-spin {
  animation: dis-appear 2s ease-in-out infinite;
}

.spin-sector {
  border: 15px solid transparent;
  animation: rotate var(--duration) var(--timing) infinite;
  @apply absolute w-full h-full mix-blend-overlay rounded-[50%] pointer-events-none;
}

.spin-sector-1 {
  border-top-color: lightblue;
  --timing: ease-in-out;
  --duration: 0.75s;
}

.spin-sector-2 {
  border-left-color: purple;
  --timing: ease-in-out;
  --duration: 1.25s;
}

.spin-sector-3 {
  border-right-color: lightcoral;
  --timing: ease-in-out;
  --duration: 1.5s;
}

.home-h1 {
  @apply text-2xl flex flex-col w-full items-center select-none gap-1.5 font-semibold text-center text-clr-8;
}

.signup-link {
  animation: bounce 2s ease-in-out infinite;
  @apply w-fit flex items-center gap-3 py-3 px-5 font-semibold mt-10 tracking-wider text-xl bg-clr-1 text-clr-0 trans rounded-md;
}

.form-itself {
  @apply mx-auto w-[90vw] max-w-[550px] rounded-md mt-12 py-5 px-6 bg-clr-5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card {
  @apply bg-[#f2f2f2] rounded-[50px] overflow-hidden;
  box-shadow: 20px 20px 60px #cecece, -20px -20px 60px #ffffff;
}

.form-h1 {
  @apply text-clr-2 font-semibold tracking-wider text-2xl;
}

.form-center {
  @apply flex flex-col gap-3
}

.form-group {
  @apply flex flex-col gap-1.5;
}

.form-group input  {
  @apply w-full py-1.5 px-1 rounded-md font-medium text-lg bg-clr-7 border-[0.08125rem];
}

.form-group input:focus {
  @apply outline-none;
}

.form-group label {
  @apply text-clr-3 text-xl tracking-wide font-medium;
}

.pswd-container {
  @apply relative;
}

.eye {
  @apply absolute top-3 right-3 text-clr-8 text-xl;
}

.btn-container {
  @apply w-full mt-8;
}

.btn {
  @apply py-1 w-full rounded text-clr-5 bg-clr-1 text-xl tracking-widest font-medium;
}

.btn:focus {
  @apply outline-none;
}

.btn:hover:not([disabled]) {
  @apply bg-clr-6 text-clr-7 trans;
}

.btn:disabled {
  @apply opacity-[50%] cursor-not-allowed;
}

.req-btn {
  @apply text-clr-0 bg-clr-3 font-medium w-fit px-2 py-1 rounded-lg self-end tracking-wider;
}

.content-container {
  @apply flex flex-col gap-1 mb-3;
}

.content-counter {
  @apply text-clr-2 text-xs tracking-wide text-end;
}

.content {
  @apply w-full h-32 rounded-lg p-2 outline-none font-medium text-lg resize-none;
}


.menu {
  @apply grid grid-cols-1 w-[95vw] max-w-full justify-start trans px-5 gap-12 mx-auto;
}

.tabs {
  @apply flex justify-between mt-8 px-2;
}

.tab {
  @apply rounded-md text-white bg-clr-1 px-3 py-2 trans font-medium tracking-wider;
}

.tab:hover {
  @apply bg-clr-2;
}

.tab.active {
  @apply bg-clr-6 font-semibold;
  animation: bounce 2s ease-in-out infinite;
}

.profile-msgs {
  @apply grid grid-cols-1 gap-8 mt-7;
}

.profile-msg {
  @apply relative text-clr-8 text-xl font-semibold tracking-wide min-h-[5rem] flex flex-col justify-center h-fit pt-3;
}

.period {
  @apply absolute top-2 right-7 text-sm font-bold text-clr-3;
}

.image {
  @apply w-full object-cover max-h-[14rem] rounded-bl-[50px] rounded-br-[50px];
}

.toggle-container {
  @apply flex justify-between items-center
}

.toggle-h2 {
  @apply text-xl font-semibold tracking-wider
}

.switch {
  @apply relative inline-block w-[60px] h-[34px]
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-[#ccc] trans;
}

.slider:before {
  content: "";
  @apply absolute h-[26px] w-[26px] left-[4px] bottom-[4px] bg-white trans;
}

input:checked+.slider {
  @apply bg-clr-6
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(25, 126, 208);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  @apply rounded-[34px];
}

.slider.round:before {
  @apply rounded-[50%]
}

.dialog-list {
  @apply flex items-center justify-between w-full text-lg bg-clr-1 trans px-3 py-2 rounded-md tracking-wider text-clr-5;
}

.dialog-list:hover {
  @apply bg-clr-6;
}

@media screen and (min-width: 900px) {
  .menu {
    grid-template-columns: 150px 1fr;
  }

  .tabs {
    @apply flex-col gap-5 mt-20 h-36;
  }

  .tab {
    @apply w-full rounded-md px-3;
  }

  .profile-msgs {
    @apply grid-cols-2;
  }
}

.texts {
  @apply flex flex-col gap-0.5 py-2 px-2
}

.small-loading div { box-sizing: border-box!important }
.small-loading > div {
  @apply absolute w-[55px] h-[55px] top-[22.5px] left-[22.5px] rounded-full;
  border: 7px solid #000;
  border-color: #ffffff transparent #ffffff transparent;
  animation: small-loading 0.78125s linear infinite;
}

.small-loading > div:nth-child(2) { border-color: transparent }
.small-loading > div:nth-child(2) div {
  @apply absolute w-full h-full rotate-45;
}

.small-loading > div:nth-child(2) div:before, .small-loading > div:nth-child(2) div:after { 
  content: "";
  @apply block absolute w-[7px] h-[7px] -top-[7px] left-[17px] bg-clr-0 rounded-full;
  box-shadow: 0 48px 0 0 #ffffff;
}

.small-loading > div:nth-child(2) div:after {
  @apply -left-[7px] top-[17px]; 
  box-shadow: 48px 0 0 0 #ffffff;
}

.small-loading-container {
  @apply w-[31px] h-[32px] inline-block overflow-hidden bg-clr-6;
}

.small-loading {
  @apply w-full h-full relative;
  transform: translateZ(0) scale(0.31);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.small-loading div { box-sizing: content-box; }

.wrapper {
  @apply h-[100vh] flex justify-center items-center bg-clr-0 fixed top-0 w-full;
}

.animated-check {
  @apply h-[10rem] w-[10rem];
}

.animated-check path {
  @apply fill-none stroke-clr-1;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 1s linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.10);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dis-appear {

  0%,
  100% {
    color: rgba(201, 198, 198, 1);
  }

  25%,
  75% {
    color: rgba(201, 198, 198, 0.5);
  }

  50% {
    color: rgba(201, 198, 198, 0.1);
  }
}

@keyframes small-loading {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}